@import "~bootstrap/scss/bootstrap";
@import "./bootstrap.scss";
@import "./variables";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../node_modules/swiper/swiper-bundle.css";

* {
  box-sizing: border-box;
}

html,body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body{
  font-family: "Poppins", sans-serif;
  height: 100%;
}

// .header {
//   position: relative;
//   width: 100%;
// }
.nav-item .nav-link:hover {
  color: #e51b24;
}

.header-inner {
  position: absolute;
  top: 0%;
  left: 0;
  width: 100%;
  z-index: 99;
  background-color: transparent;
}

.video-background {
  position: relative;
  width: 100%;
  min-height: 100vh;
}

.header-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
}

.category{
  width: 200px;
  padding-left: 7px;
  background-color: $color;
  border: 1px solid $color;
}

.caption {
  position: absolute;
  top: 40%;
}

.page-icons {
  font-size: 50px;
  color: $color;
  padding-left: 8px;
  padding-bottom: 10px;
}

.tab-icons {
  color: $color;
  font-size: 20px;
}

.details-name {
  color: $color;
}

.swiper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  cursor: grab;
}

.swiper-wrapper {
  transform: translate3d(0px, 0px, 0px);
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.slide-title {
  position: absolute;
  transform: translateY(-30px);
  margin-top: -15px;
  letter-spacing: .025em;
}
.swiper-button-next{
  margin-top: 0px;
  position: absolute;
  top: 50%;
  right: -40px;
  width: 45px;
  height: 45px;
  transform: translateY(-50%);
  }
  .swiper-button-prev{
    position: absolute;
    top: 50%;
    left: -40px;
    width: 45px;
    height: 45px;
    transform: translateY(-50%);
    margin-top: 0px;
  }

/* section 3 Team*/

.section-3 .container h1 {
  font-size: 6vmin;
  padding-top: 14vmin;
}

.section-3 .team {
  padding: 10vmin 4vmin;
}

.section-3 .card {
  width: 22rem;
  margin-top: 10vmin;
}

.section-3 .card .card-text {
  padding: 0.5em;
}

.team .btn:hover{
  background-color: #e51b24;
  color: white;
}

.border-radius {
  border-radius: 340px;
  width: 60%;
}

footer a {
  text-decoration: none;
}


